@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-playball);

  --color-brand-brown: #7B3F00;
  --color-brand-orange: #EE9F44;
  --color-brand-cream: #FCECDD;
  --color-brand-dark: #2A1A10;
  --color-brand-light: #FFF8F0;
}


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 123, 63, 0;
  --background-end-rgb: 123, 63, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }
}

.hero-sofa-container {
  transform-style: preserve-3d;
  will-change: transform;
}